@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0 background:#fff; }
.shiy{ position:relative; width:100%; margin-top:20px;}
.sox{ position:relative; width:100%; margin:0 auto;}
.sox img{ width:100%;}
.sox p{font-size:20px; font-family:"Microsoft YaHei",微软雅黑;color:#555;position:absolute; margin:0;top:68%; left:45%; }