@charset "utf-8";
body {margin: 0px;padding: 0px; font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#505050;}
*{ margin:0; padding:0;}
body img{border:none 0;outline:none; vertical-align:middle; }
ul,li{list-style-type:none;}
a:link,a:visited{color:#505050; text-decoration:none;outline:none;}
a:hover{color:#177dc7; text-decoration:none;outline:none;}
.white{color:#ffffff;}
.blue2{color:#177dc7;}
.blue2 a:link{color:#177dc7; text-decoration:underline;}
.blue2 a:visited{color:#177dc7; text-decoration:underline;}
.blue2 a:hover{color:#177dc7; text-decoration:none;}
h1,h2{font-weight:normal;}
.cb{clear:both;}
input{outline:none;}

/*top*/
.top{height:39px;}
.top_line{height:2px; overflow:hidden;background-color:#0686dc;}
.top_submenu{height:37px;background-color:#2e2e2e;}
.top_submenu1{width:1000px;height:16px; padding-top:10px;margin:0 auto ;height:20px; overflow:hidden;}
.top_submenu1 p{float:left; display:block; color:#f1f1f1; height:20px; overflow:hidden;}
.top_submenu1 p a:link{color:#afafaf;}
.top_submenu1 p a:visited{color:#afafaf;}
.top_submenu1 p a:hover{color:#f1f1f1; text-decoration:none;}
.top_submenu1 p img{vertical-align:middle;}
.top_submenu1 p.collection{width:120px; padding-right:10px;height:20px; overflow:hidden;}
.top_submenu1 p.submenu{float:right;color:#666666;width:550px; text-align:right; }
.top_submenu1 p.submenu a.white{color:#ffffff;}
.top_submenu1 p.submenu a.white:hover{color:#ffffff; text-decoration:underline;}

.top_submenu1 p.p1{float:left; display:block;width:300px; height:20px; overflow:hidden; text-align:right; text-align:right; padding-right:5px;}

/*菜单*/
.menu{height:103px; background:url(../images/menu_bg.gif) 0 0 repeat-x;}
.menu_a{width:1000px;height:103px; margin:0 auto 0 auto;}
.menu_a p{float:left; padding-top:25px;}
.menu_a ul{float:right; display:block;line-height:103px;}
.menu_a ul li{height:103px;float:left;font-size:18px;text-align:center;margin:0 10px 0 10px;display:block;}
.menu_a ul li a{height:103px;float:left;color:#505050;padding:0;display:block; padding:0 2px 0 2px;}
.menu_a ul li a:hover{height:103px;color:#177dc7;text-decoration:none;display:block;}
.menu_a ul li.dq{height:103px;color:#177dc7;text-decoration:none;background:url(../images/menu_bgt.gif) 0 75px repeat-x;display:block;}
.menu_a ul li.dq a{height:103px;color:#177dc7;text-decoration:none;border:none;}
.menu_a ul li.dq a:hover{height:103px;color:#177dc7;text-decoration:none;border:none;}

/*banner*/
.index_bg01{background:url(../images/banner01_bg.jpg) left top repeat-x;height:500px;}
.index_bg02{background:url(../images/banner02_bg.jpg) left top repeat-x;height:500px;}
.index_bg03{background:url(../images/banner03_bg.jpg) left top repeat-x;height:500px;}
.index_bg04{background:url(../images/banner04_bg.jpg) left top repeat-x;height:500px;}
#warp {width:100%;height:500px; padding:0; margin:0;}
.banner {z-index:99;margin:0px auto;width:1000px;height:500px;}
.banner_l {MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: left}
.banner_r {MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: left}
.bannerImg {POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 1000px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px}
.bannerImg .bannerPage {POSITION: absolute; TOP: 450px; LEFT: 470px;}
.bannerImg .bannerPage A {MARGIN-RIGHT: 4px}
.bannerImg .bannerPage A IMG {VERTICAL-ALIGN: middle}
.slides_container {POSITION: relative; WIDTH: 1000px; OVERFLOW: hidden}
.pagination {MARGIN: 26px auto 0px}
.pagination LI {MARGIN: 0px 1px; FLOAT: left}
.pagination LI A {BACKGROUND-IMAGE: url(../images/pagination.png); WIDTH: 12px; DISPLAY: block; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 14px;}
.pagination LI.current A {BACKGROUND-POSITION: 0px -14px}

/*首页content*/
.content{width:1000px; margin:0 auto 0 auto;}
.new_product{padding-top:30px;}
.content h1{font-size:18px; color:#434a54; width:990px; padding:0 0 10px 10px; border-bottom:solid 1px #e6e9ed;}
.new_product dl{width:990px; height:310px; padding:20px 0 0 10px; display:block;}
.new_product dt{width:489px; height:310px;float:left; display:block;}
.new_product dt a{width:489px; height:310px; display:block; position:relative;}
.new_product dt a span{width:489px; height:310px; background:url(../images/new_product_bg.png) no-repeat; position:absolute; top:0; left:0; display:none; z-index:100;}
.new_product dd{width:489px; height:310px;float:left; display:block; padding-left:10px;}
.new_product dd p{width:489px; height:150px; display:block;}
.new_product dd p a{width:489px; height:150px; display:block; position:relative;}
.new_product dd p a span{width:489px; height:150px; background:url(../images/new_product_bg1.png) no-repeat; position:absolute; left:0; top:0; display:none; z-index:100;}
.new_product dd p.bot{padding-top:10px;}
.hot_accessories{padding-top:30px;}
.content h1 span{float:right; padding:13px 10px 0 0;cursor:pointer;}
.hot_accessories ul{padding:20px 0 0 10px; display:block; overflow:hidden;}
.hot_accessories ul li img{width:230px; height:187px;}
.hot_accessories ul li{width:232px;height:300px;float:left;margin-right:20px;display:block;text-align:center;}
.hot_accessories ul li a{width:230px;height:294px;display:block;border-top:solid 1px #e6e9ed;border-right:solid 1px #e6e9ed;border-bottom:solid 5px #e6e9ed;border-left:solid 1px #e6e9ed;}
.hot_accessories ul li a:hover{width:230px;height:294px;display:block;border-top:solid 1px #82c2ed;border-right:solid 1px #82c2ed;border-bottom:solid 5px #82c2ed;border-left:solid 1px #82c2ed; text-decoration:none;}
.hot_accessories ul li.no_mg{margin:0;}
.hot_accessories ul li span{font-size:16px; line-height:24px; padding-top:32px; width:230px; overflow:hidden; display:block;}
.content2{padding-top:30px; overflow:hidden;}
.news_x{ width:610px; float:left;}
.news_x h1{font-size:18px; color:#434a54; width:600px; padding:0 0 10px 10px; border-bottom:solid 1px #e6e9ed;}
.news_x h1 span{float:right; padding:13px 10px 0 0;cursor:pointer;}
.news_x ul{padding:10px 0 0 10px; display:block;}
.news_x ul li{padding-top:14px;border-bottom:dashed 1px #d8dbdd;height:48px;overflow:hidden;display:block;}
.news_x ul li p{float:left; display:block; font-size:14px; color:#acacac; overflow:hidden;height:48px;}
.news_x ul li p.text{width:500px;}
.news_x ul li p.text span{display:block; font-size:12px; padding-top:6px; height:14px; line-height:14px; overflow:hidden;}
.news_x ul li p.date{float:right;}
.attention{float:right; width:336px; height:308px; border:solid 1px #e6e9ed;}
.attention h1{font-size:18px; padding:20px 0 5px 20px; width:auto; border:none;}
.attention dl{padding:15px 0 0 20px; display:block; height:65px;}
.attention dl dt{width:72px; height:65px; float:left;}
.attention dl dd{width:224px; height:65px; float:left;}
.attention dl dd.xinlang{background-color:#fff9db;}
.attention dl dd.facebook{background-color:#e7ffdb;}
.attention dl dd.fans{background-color:#dbf3ff;}
.attention dl dd p{float:left; display:block;font-size:18px;}
.attention dl dd p.text{padding:10px 0 0 15px;}
.attention dl dd p.text span{display:block; font-size:12px;}
.attention dl dd p.img{float:right;}

.service{padding:30px 0 30px 0; border-top:solid 1px #e8e8e8;border-bottom:solid 1px #e8e8e8; margin-top:50px;}
.service1{width:1000px; margin:0 auto 0 auto; overflow:hidden;}
.service dl{width:24%; float:left; display:block; overflow:hidden;}
.service dl.long{width:28%}
.service dt{width:41px; height:41px; float:left;}
.service dd{float:left; padding-left:10px;font-size:16px; line-height:20px;}

.help{width:1000px; margin:0 auto 0 auto; padding:20px 0 20px 0; overflow:hidden;}
.help1{width:770px; float:left; overflow:hidden;}
.help1 ul{width:20%; display:block; float:left;}
.help1 ul li{ padding-bottom:7px;}
.help1 ul li.title{ padding-bottom:15px;}
.help1 ul li a{color:#878787;}
.help1 ul li a:hover{color:#878787; text-decoration:underline;}
.phone{width:230px; height:111px;float:left; background:url(../images/phone.jpg) 0 18px no-repeat;}
.phone p{display:block; padding:14px 0 0 50px; font-family:"微软雅黑";}
.phone p span{font-size:18px; display:block;}
.bottom{height:auto; overflow:hidden; line-height:20px; background:url(../images/bottom_bg.jpg) 0 0 repeat-x; text-align:center; color:#afafaf; padding:10px 0;} 
.bottom  a{color:#afafaf;}
.bottom  a:hover{color:#afafaf;}
.project{width:1000px; margin:0 auto 0 auto; padding-top:20px;}

/*分页样式*/
.fenye{height:20px; padding:15px 0 15px 0; line-height:20px; float:right; text-align:right;}
.fenye ul.fy {float:left; display:block; width:auto; overflow:hidden;}
.fenye li{ width:20px; height:20px; text-align:center; display:block; float:left; margin:0 3px 0 0;}
.fenye li.zd{ width:auto; height:20px; text-align:center; display:block; float:left; margin:0 3px 0 0;}
.fenye li a{ width:18px; height:18px;background-color:#ececec; border:1px #d2dce6 solid; display:block;}
.fenye li a:hover{ width:18px; height:18px; background-color:#177dc7; border:1px #d2dce6 solid; color:#ffffff; display:block;}
.fenye li.fy_dq a{ height:18px; background-color:#177dc7; border:1px #d2dce6 solid; color:#ffffff; display:block;}
.fenye li.sf{ width:25px; height:20px;}
.fenye li.sf a{ width:23px; height:18px; background-color:#ececec; border:1px #d2dce6 solid; display:block;}
.fenye li.sf a:hover{ width:23px; height:18px; background-color:#177dc7; border:1px #d2dce6 solid; color:#ffffff; display:block;}
.pro_bd{ width:23px; height:18px;border:1px #cecece solid; text-align:center; overflow:hidden;}
.fenye p{ float:left; padding:0 0 0 5px;}
.button03{width:25px; height:20px; color:#666666; text-align:center; border:none; line-height:20px; overflow:hidden; background-color:#ececec; border:1px #d2dce6 solid;}

/*按钮样式*/
.btn01{width:123px;height:45px;line-height:45px;font-size:18px;color:#fff;border:none;background:url(../images/bt1_bg.gif) 0 0 no-repeat;display:block;cursor:pointer;padding-left:10px; font-family:Arial;}
.btn02{width:123px;height:45px;line-height:45px;font-size:18px;color:#222222;border:none;background:url(../images/bt2_bg.gif) 0 0 no-repeat;display:block;cursor:pointer;padding-left:12px;font-family:Arial;}
.btn03{display:block;float:left;width:70px;height:22px;background:url(../images/buy_portfolio.gif) center 0 no-repeat;text-indent:-9999px;overflow:hidden;border:0;}
.btn04{width:123px;height:45px;line-height:45px;font-size:18px;color:#fff;text-align:center;border:none;background:url(../images/bt_bg.gif) 0 0 no-repeat;cursor:pointer;}
.btn05{width:123px;height:45px;line-height:45px;font-size:18px;color:#fff;text-align:center;border:none;background:url(../images/bt3_bg.gif) 0 0 no-repeat;cursor:pointer;}
.btn06{width:123px;height:45px;line-height:45px;font-size:18px;color:#222222;text-align:center;border:none;background:url(../images/bt4_bg.gif) 0 0 no-repeat;display:block;cursor:pointer;}
.btn07{ padding:0 25px; height:30px;font-size:14px;color:#fff;text-align:center;border:none;background:#177dc7;display:block;cursor:pointer; margin-top:5px;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;  }

.btn08{color:#fff; height:20px;padding:0 30px;background:#e13f3a; -moz-border-radius: 5px; -webkit-border-radius: 5px;  border-radius:5px; border:none; }
.input0{width:30px;color:#000;border:solid 1px #CAE5E8;height:20px; background:#fff;font-size:11px;font-family:Arial;text-align:center;margin:0 3px;}
.input1{width:600px;color:#afafaf;border:solid 1px #CAE5E8;height:80px;background:#fff;font-size:11px;font-family:Arial;}
.input2{width:150px;color:#636363;border:solid 1px #CAE5E8;height:20px;background:#fff;font-size:11px;font-family:Arial;line-height:20px;}
.input3{width:85px;color:#afafaf;border:solid 1px #CAE5E8;height:20px;background:#fff;font-size:11px;font-family:Arial;line-height:20px;}
.input4{width:65px;color:#afafaf;border:solid 1px #CAE5E8;height:20px;background:#fff;font-size:11px;font-family:Arial;line-height:20px;}
.input5{width:40px;color:#afafaf;border:solid 1px #CAE5E8;height:20px;background:#fff;font-size:11px;font-family:Arial;line-height:20px;}
.input6{width:120px;color:#afafaf;border:solid 1px #CAE5E8;height:20px;background:#fff;font-size:11px;font-family:Arial;line-height:20px;}
.input7{width:300px;color:#636363;border:solid 1px #CAE5E8;height:20px;background:#fff;font-size:11px;font-family:Arial;line-height:20px;}
.user_center_bt{width:101px;height:34px;color:#ffffff;text-align:center;border:none;background:url(../images/user_center_btn.gif) left top no-repeat;line-height:34px;font-weight:bold;cursor:pointer;}
.user_center_bt01{width:131px;height:34px;color:#ffffff;text-align:center;border:none;background:url(../images/user_center_btn04.jpg) left top no-repeat;line-height:34px;cursor:pointer;}
.user_center_bt02{width:80px;height:28px;color:#222222;text-align:center;border:none;background:url(../images/user_center_btn02.jpg) left top no-repeat; line-height:28px;cursor:pointer;}
.user_center_bt03{width:85px;height:28px;color:#222222;text-align:center;border:none;background:url(../images/user_center_btn03.jpg) left top no-repeat; line-height:28px;cursor:pointer;}

/* 弹出页面*/
.pop_up_box{ width:350px; height:auto; border:1px #e5e5e5 solid; margin:0 auto 0 auto; overflow:hidden;}
.pop_up_box .box_l{ position:relative;display:block; font-size:14px; font-weight:bold; background:url(../images/box_bg.gif) repeat-x; height:28px; width:330px; border-bottom:1px #ccc solid; padding:10px 0 0 20px; line-height:22px;}
.pop_up_box .box_r{ position:absolute; float:left; left:295px;}
.pop_up_box ul {width:340px;padding:20px 0 20px 0; display:block; margin:0 auto 0 auto;}
.pop_up_box li {width:340px;height:28px;display: block;}
.pop_up_box li.btn{ width:220px; padding-left:130px;}
.wd_input{float:left;display: block;height: 20px;width: 200px;}
.tishiyu{ padding:0 0 0 130px;}
.pop_up_box .wd1{width:130px; float:left; text-align:right; display:block; line-height:24px;}
.pop_up_box .wd2{width:165px;float:left;text-align:right;display:block;padding-bottom:10px;}
.pop_up_box img{padding-left:10px;padding-right:10px;vertical-align: middle;}
.pop_up_box  p{ line-height:24px; padding:10px;}
.tips{ width:310px; padding:10px; height:auto; margin:0 auto 0 auto; overflow:hidden;}
.tips ul{ padding:0; margin:0;}
.tips li { text-align:center; padding-bottom:10px; height:auto;}
#goTopBtn {POSITION: fixed; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 30px; BOTTOM: 35px; HEIGHT: 33px; FONT-SIZE: 12px; CURSOR: pointer; RIGHT: 0px; _position: absolute; _right: auto;}
.guanggaowei{ width:1000px; margin:0 auto 0 auto; padding:15px 0 15px 0;}
.redfont{ color:#ff0000;}
.fontwz{ font-weight:bold;}

.content_main{width:1002px;height:auto;padding:20px 0 20px 0;margin:0 auto 0 auto;}
.posit{ padding-top:20px; padding-left:20px}

.add_tips{ margin-top:20px; padding:20px;}
.add_tips>ul>li{ padding:5px 0 5px  0; height:auto; line-height:22px; word-break:break-all}
.add_tips li.title{ font-weight:bold; font-size:14px;}
.add_tips li a{ color:#008000; padding-left:20px; font-size:14px;}
.add_tips li a:hover{ color:#008000; padding-left:20px; font-size:14px; text-decoration:underline;}