@charset "utf-8";

.roundabout-holder  { 
 height: 378px;
    margin: 0 auto;
    width: 840px;
	    list-style: none outside none;
}
.roundabout-moveable-item {
   width: 450px;
   height: 292px;
   cursor: pointer;

   border-radius:4px;
	 -moz-border-radius:4px;
	 -webkit-border-radius:4px;
}
	.roundabout-moveable-item a img{
		   border: 3px solid #EEEEEE;
    width: 100%;
	}
.roundabout-in-focus {

}